/* CSS Document */
html,body {font-size:13px; font-family:arial,sans-serif; color:#555; padding:0; margin:0; height:100%;}
a:link,a:active,a:visited {color:#555; text-decoration:none;}
a:hover {color:#FF0000; text-decoration:underline;}
form,ul,li,h1,h2,h3,h4 {padding:0; margin:0; list-style:none;}
input {vertical-align:middle;}
.blank {height:8px; line-height:8px; clear:both; overflow:hidden;}
.wrapper {margin:0 20px; clear:both;}
.main-div {clear:both; margin:0px 20px; padding-top:10px;}
.button {border-radius: 2px 2px 2px 2px; background:url(thbg.png) repeat-x; vertical-align:middle; color:#444; border:1px solid #c8c8c8;cursor:pointer; height: 25px; margin-right: 12px; min-width: 54px;outline: 0 none;padding:0 12px; text-align: center; font:bold 13px/25px Arial; display:inline-block; clear:none; position:relative;}
.button:hover {border:1px solid #c6c6c6; background:#e5e5e5; text-decoration:none;}
.button:focus{border: 1px solid #4D90FE !important;}
.submit {background:#D14130; color:#FFFFFF;border:1px solid #b0281a;}
.submit:hover {border:1px solid #b0281a; background:#c53727;}
.search {margin-right:0;}
input.text {border:1px solid #ccc; border-top:1px #aaa solid; vertical-align:middle; border-radius: 2px 2px 2px 2px; padding:3px 1px 3px 3px; line-height:16px; overflow-y:hidden; font-family:sans-serif; height:16px; width:300px;}
input.text:focus{border: 1px solid #4D90FE !important; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;}
input.text60 {width:60px;}
input.text100 {width:100px;}
input.text160 {width:160px;}
input.text200 {width:200px;}
input.text500 {width:500px; height:20px; line-height:20px; outline:none;}
input.checkbox {vertical-align:middle; height:14px;}
input.radio {vertical-align:middle; margin-top:-3px !important; margin-right:5px; border:medium none;}
textarea.textarea {width:300px; height:100px; padding:2px;border:1px solid #d9d9d9; border-top:1px #c0c0c0 solid; border-radius: 2px 2px 2px 2px; font-size:13px;}
textarea.textarea:focus{border: 1px solid #4D90FE !important; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;}
select {padding:2px; font-size:13px; border:1px solid #ccc; border-top:1px #aaa solid; vertical-align:middle;}
select:focus{border: 1px solid #4D90FE !important; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;}
select option.bold {font-weight:bold;}
.yourpos {background:url(position_bg.gif) 0 0 repeat-x; height:32px; line-height:28px; overflow:hidden; padding:0 10px;}
.yourpos span{background:url(position_dot.gif) left top no-repeat; height:31px; display:inline-block; padding:0 0 0 20px; margin:0;}
.toolbar {padding:10px 0; line-height:22px; margin:0 20px; clear:both;}
.toolbar h2{font-size:20px; font-weight:400; float:left; margin:0 20px 10px 0; clear:none;}
.toolbar .records {float:left;}
.toolbar .right {float:right;}
.toolbar .tab {float:left; clear:none;}
.toolbar .tab li{float:left; margin-right:3px; height:22px; font-size:14px;}
.toolbar .tab li a{display:block; line-height:22px;}
.toolbar .tab li a span {display:block; padding:0 7px;}
.toolbar .tab li a:hover {background:url(btn_block_3.gif) 0 -40px no-repeat; color:#555; text-decoration:none;}
.toolbar .tab li a:hover span {background:url(btn_block_3.gif) right -60px no-repeat;}
.toolbar .tab li.current a{background:url(btn_block_3.gif) 0 0 no-repeat; color:#fff;}
.toolbar .tab li.current a span{background:url(btn_block_3.gif) right -20px no-repeat;}
.tit{background:url(thbg.png) repeat-x; color:#0099cc; font-weight:bold; font-size:14px;border:1px #dfdfdf solid; padding:8px 5px; border-bottom:0;}
.file {width:100px;height:30px;position:absolute;top:-3px; right:0;opacity: 0;z-index:10000;cursor: pointer;filter: Alpha(Opacity=0); display:block;}
table.formtable {clear:both; text-align:left; border:1px #e4e4e4 solid; border-radius: 3px 3px 3px 3px; background:#fafafa;}
table.formtable td,table.formtable th{text-align:left; padding:7px;}
table.formtable td.bold {font-weight:bold; color:#666;}
table.formtable tr.firstrow td{background:url(thbg.png) repeat-x; color:#0099cc; font-weight:bold; font-size:14px;border-bottom:1px #dfdfdf solid;}
table.formtable th{background:url(thbg.png) repeat-x; color:#0099cc; font-weight:bold; font-size:14px;border-bottom:1px #dfdfdf solid;}
table.formtable tr.optiontype td{background:url(thbg.png) repeat-x; color:#0099cc; font-weight:bold; font-size:14px;border-bottom:1px #dfdfdf solid;border-top:1px #dfdfdf solid;}
table.formtable td li {padding:5px 0;}
table.formtable td .actionlist{clear:both;}
table.formtable td .actionlist li {width:200px; float:left; padding:5px 0;}
table.formtable td .actioncat {padding-top:5px; display:inline-block;}
#actions td{vertical-align:top; border-bottom:1px #e2e2e2 solid;}
.listtable {clear:both; border:1px #e4e4e4 solid; border-radius: 3px 3px 3px 3px;}
.listtable th,.listtable td {text-align:left; padding:5px; font-weight:400;}
.listtable th{background:url(thbg.png) repeat-x; color:#666; font-size:14px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); border-bottom:1px solid #dfdfdf; border-top:1px solid #fff;}
.listtable td{border-bottom:1px #dfdfdf solid; border-top:1px #fff solid;}
.listtable td label {display:block; cursor:pointer;}
.listtable td a{color:#0099cc; text-decoration:none;}
.listtable td a:hover{color:#0099cc; text-decoration:underline;}
.listtable td.even {background:#f8f8f8;}
.listtable tr.bottom td{border-bottom:none;}
.listtable tr.hover td{background:#f5f5f5; color:#444;}
.listtable tr.checked td{background:#ffffcc; color:#444;}
.pagebox{float:right; line-height:25px;}
.pagebox a:link,.pagebox a:visited,.pagebox a:active {text-decoration:none; color:#333;}
.pagebox a:hover {text-decoration:underline; color:#FF0000;}
.pagebox select {vertical-align:middle;}
div.addtr {background:url(bg_repno.gif) 0 6px no-repeat; color: #FF6600; width:200px; line-height: 25px; padding-left:17px;}
div.addtr a:link,div.addtr a:visited,div.addtr a:active{color: #FF6600; text-decoration:none;}
div.addtr a:hover {text-decoration:underline;}
label.delete {width:53px; display:inline-block;}
a.addcat:link,a.addcat:visited,a.addcat:active{background:url(bg_repno.gif) 0 2px no-repeat; color: #FF6600; text-decoration:none; line-height: 25px; padding-left:17px;}
a.addcat:hover {text-decoration:underline; color: #FF6600;}
#typelist a,#optionlist span {margin-right:10px; text-decoration:none;}
#typelist a.cur {font-weight:bold; color:#333;}
#optionlist div {display:none;}
h3.tishi {clear:both; height:30px; font:bold 13px/30px ''; color:#0099CC; margin:0 20px;}
.divmessage {background:#F2F9FD; text-align:center; padding:30px 0; border-bottom:5px #DEEEFA solid; border-top:5px #DEEEFA solid; margin:0 20px; clear:both;}
.divmessage h3{clear:both; font-size:18px; padding:10px 0; height:24px; line-height:24px; margin:0;}
.divmessage h3.succeed {color:#009900;}
.divmessage h3.error{color:#CC0000;}
.divmessage h3.loading{color:#000;}
.divmessage p.autoredirect {padding:0; text-align:center; line-height:150%; margin:0; clear:both;}
.divmessage p.margintop {clear:both; margin:20px 0 0 0; padding:0;}
#footer{clear:both; padding:10px 0; text-align:center; margin:0 20px;}
#upload{background:url(upload.png) no-repeat; width:100px; height:28px; border:none;}
.picinfo li {padding:3px 0;}