<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{$category[name]}_$config[sitename]</title>
<link href="/static/images/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/jquery.js"></script>
</head>

<body>
{template header}
<div class="yourpos">当前位置：<a href="/">首页</a> > $category[name]</div>
<div class="warpper">
	<div class="bodyLeft" id="lll">
		<div class="titlediv"><span>$category[name]</span></div>
		<div class="blank"></div>
		<ul class="list">
			{loop $articles[list] $arc}
			<li><span>$arc[pubtime]</span><a href="article.php?id=$arc[id]" target="_blank">$arc[title]</a></li>
			{/loop}
		</ul>
		<div class="pager">$pagelink</div>
	</div>
	<div class="bodyRight" id="rrr">
		<div class="rbody">
			<div class="titlediv"><span>最新文章</span></div>
			<ul class="list">
				{loop $articles[new] $arc}
				<li><a href="article.php?id=$arc[id]">$arc[title]</a></li>
				{/loop}
			</ul>
		</div>
		<div class="blank"></div>
		<div class="rbody">
			<div class="titlediv"><span>图片新闻</span></div>
			<div class="blank"></div>
			{loop $articles[img] $arc}
			<dl>
				<dd><a href="article.php?id=$arc[id]"><img src="$arc[image]" border="0" /></a></dd>
				<dt><a href="article.php?id=$arc[id]">$arc[title]</a></dt>
			</dl>
			{/loop}
			<div class="clear"></div>
		</div>
	</div>
	<div class="blank"></div>
</div>
<script type="text/javascript">
var HHH = Math.max($("#rrr").height(),$("#lll").height());
$("#lll").height(HHH);$("#rrr").height(HHH);
</script>
{template footer}