<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{$video[title]}_$config[sitename]</title>
<link href="/static/images/style.css" rel="stylesheet" type="text/css">
</head>

<body>
{template header}
<div class="yourpos">当前位置：<a href="/">首页</a> > <a href="videos.php?cid=$video[cid]">$video[name]</a> > 正文</div>
<div class="warpper">
	<div class="bodyLeft">
		<div class="tab"></div>
		<h1 class="arcTitle">$video[title]</h1>
		<div class="arcinfo">发布时间：{$video[pubtime]}　点击：{$video[views]}　编辑：{$video[author]}</div>
		<div id="videoplayer">
			<embed src="$video[videourl]" quality="high" width="640" height="500" align="middle" allowScriptAccess="always" allowFullScreen="true" mode="transparent" type="application/x-shockwave-flash"></embed>	
		</div>
		<div class="arcbody">$video[content]</div>
		<h3 class="tit">相关视频</h3>
		<ul class="list">
			{loop $videos[related] $vod}
			<li><span>$vod[pubtime]</span><a href="play.php?id=$vod[id]">$vod[title]</a></li>
			{/loop}
		</ul>
		<div class="blank"></div>
	</div>
	<div class="bodyRight">
		<div class="rbody">
			<div class="tab">最新文章</div>
			<ul class="list">
				{loop $articles[new] $arc}
				<li>·<a href="article.php?id=$arc[id]">$arc[title]</a></li>
				{/loop}
			</ul>
		</div>
		<div class="blank"></div>
		<div class="rbody">
			<div class="tab">最新视频</div>
			<ul class="list">
				{loop $videos[new] $vod}
				<li>·<a href="play.php?id=$vod[id]">$vod[title]</a></li>
				{/loop}
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>
{template footer}