<!--{if $operation=='view'}-->

<div class="wrapper">

    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="formtable">

	  <tr class="odd">

	  	<td colspan="4"><strong>$feedback[subject]</strong></td>

	  </tr>

      <tr>

        <td>$lang[feedback_user]</td>

        <td width="160">$feedback[username]</td>

        <td width="80">$lang[feedback_time]</td>

        <td>$feedback[dateline]</td>

      </tr>

	   <tr>

        <td>$lang[feedback_tel]</td>

        <td>$feedback[tel]</td>

        <td>$lang[feedback_email]</td>

        <td>$feedback[email]</td>

      </tr>

      <tr>

        <td>$lang[feedback_content]</td>

        <td colspan="3"></td>

      </tr>

	  <tr>

	  	<td colspan="4">$feedback[message]</td>

	  </tr>

    </table>

</div>

</body></html>{eval exit();}

<!--{else}-->

<div class="toolbar">

	<h2>$lang[feedback]</h2>

	<span class="records">$lang[total]{$totalrecords}$lang[total_records]</span>

</div>

<div class="wrapper">

	<form method="post" name="feedback" action="{$BASESCRIPT}?action=feedback">

	<input type="hidden" name="formsubmit" value="yes" />

	<input type="hidden" name="formhash" value="{FORMHASH}" />

    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="listtable">

    <tr>

      <th width="50"><input type="checkbox" class="checkbox" onclick="checkAll(this,'delete[]')"> $lang[delete_check]</th>

      <th>$lang[title]</th>

      <th width="100">$lang[feedback_user]</th>

      <th width="100">$lang[feedback_tel]</th>

      <th width="150">$lang[feedback_email]</th>

      <th width="150">$lang[feedback_time]</th>

      <th width="80">&nbsp;</th>

    </tr>

	<!--{loop $messages $mm}-->

    <tr>

      <td><input type="checkbox" class="checkbox" name="delete[]" value="$mm[id]"></td>

      <td>$mm[subject]</td>

      <td>$mm[username]</td>

      <td>$mm[tel]</td>

      <td>$mm[email]</td>

      <td>$mm[dateline]</td>

      <td><a href="###" onclick="ViewMsg($mm[id])">$lang[feedback_detail]</a></td>

    </tr>

	<!--{/loop}-->

	<tr class="bottom">

		<td><input type="checkbox" class="checkbox" onclick="checkAll(this,'delete[]')" /> $lang[delete_check]</td>

		<td colspan="6">

			<span class="pagebox">{$pagelink}</span>

			<input type="submit" class="button" value="$lang[submit]">

			<input type="button" class="button" value="$lang[refresh]" onclick="LoadPage('$querystring')" />

		</td>

	</tr>

  	</table>

	</form>

</div>

<script type="text/javascript">

function ViewMsg(id){

	//window.open(ADMINSCRIPT+'?action=street&areaid='+areaid);

	var sw=Math.floor((window.screen.width/2-300));

    var sh=Math.floor((window.screen.height/2-300));

	window.open(ADMINSCRIPT+'?action=feedback&operation=view&id='+id,'dialog','Width=600,Height=400,toolbar=no,menubar=no,directories=no,top='+sh+',left='+sw+',resizable=yes,scrollbars=yes,center=yes,help=no,alwaysRaised=yes,location=no, status=no',false);

}

</script>

<!--{/if}-->