<div class="toolbar">

	<h2>$lang[file_check]</h2>

</div>

<div class="wrapper">

  	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="listtable">

      <tr>

        <th width="300">$lang[file_name]</th>

        <th width="80">$lang[file_readable]</th>

        <th width="80">$lang[file_writeable]</th>

        <th width="80">$lang[file_execable]</th>

		<th>$lang[file_time]</th>

      </tr>

	  <tbody id="files">

	  {if $parent}

      <tr>

        <td><img src="$parent[img]" border="0" align="absmiddle"> <a href="$parent[folderlink]">$parent[filename]</a></td>

        <td>&nbsp;</td>

        <td>&nbsp;</td>

        <td>&nbsp;</td>

		<td></td>

      </tr>

	  {/if}

	  {loop $folders $fd}

      <tr>

        <td><img src="$fd[img]" border="0" align="absmiddle"> <a href="$fd[folderlink]">$fd[filename]</a></td>

        <td><img src="images/yes.gif" border="0"></td>

        <td><img src="images/{if $fd[writeable]}yes.gif{else}no.gif{/if}" border="0"></td>

		<td></td>

        <td>$fd[filetime]</td>

      </tr>

	  {/loop}

	  {loop $filelist $ff}

      <tr>

        <td><img src="$ff[img]" border="0" align="absmiddle"> $ff[filename]</td>

        <td><img src="images/{if $ff[readable]}yes.gif{else}no.gif{/if}" border="0"></td>

        <td><img src="images/{if $ff[writeable]}yes.gif{else}no.gif{/if}" border="0"></td>

		<td><img src="images/{if $ff[execable]}yes.gif{else}no.gif{/if}" border="0"></td>

        <td>$ff[filetime]</td>

      </tr>

	  {/loop}

	  </tbody>

    </table>

</div>

<script type="text/javascript">

$("#files tr").mouseover(function(){$(this).addClass("hover")}).mouseout(function(){$(this).removeClass("hover")});

$("#files tr:last").addClass("bottom");

</script>